bertopic>=0.0.0
bs4>=0.0.0
cuml>=0.0.0
gc>=0.0.0
gensim>=0.0.0
hdbscan>=0.0.0
html>=0.0.0
itertools>=0.0.0
matplotlib>=0.0.0
mpl_toolkits>=0.0.0
numpy>=0.0.0
pandas>=0.0.0
pickle>=0.0.0
random>=0.0.0
requests>=0.0.0
scikit-learn>=0.0.0
scipy>=0.0.0
seaborn>=0.0.0
sentence_transformers>=0.0.0
string>=0.0.0
tqdm>=0.0.0
umap>=0.0.0
urllib>=0.0.0